<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blabber</title>
    <link rel="stylesheet" href="assets/css/style.css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
  </head>
  <body>
    <!--  BEGIN HANDLEBARS -->

    {{{body}}}

    <!-- Custom Scripts -->
    <script src="./js/test-index.js"></script>
  </body>
</html>
